@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
@import url("https://fonts.cdnfonts.com/css/arcade-classic");
* {
  margin: 0;
  padding: 0;
  font-family: "ArcadeClassic", sans-serif;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: darkolivegreen;
  background-image: url("./assets/BGStart.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.main2 {
  width: 100vw;
  height: 100vh;
  background-color: darkolivegreen;
  background-image: url("./assets/BgRiddle.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

